<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>store</display-name>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.zhku.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>BuyerServlet</servlet-name>
    <servlet-class>buyer.web.servlet.BuyerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>cn.zhku.vcode.servlet.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsServlet</servlet-name>
    <servlet-class>goods.web.servlet.GoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SellerServlet</servlet-name>
    <servlet-class>seller.seller.web.servlet.SellerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>category.web.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartItemServlet</servlet-name>
    <servlet-class>cart.web.servlet.CartItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>order.web.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SellerOrderServlet</servlet-name>
    <servlet-class>seller.order.web.servlet.SellerOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SellerGoodsServlet</servlet-name>
    <servlet-class>seller.goods.web.servlet.SellerGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SellerAddGoodsServlet</servlet-name>
    <servlet-class>seller.goods.web.servlet.SellerAddGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <servlet-class>admin.category.web.servlet.AdminCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>admin.admin.web.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminSellerServlet</servlet-name>
    <servlet-class>admin.seller.web.servlet.AdminSellerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerServlet</servlet-name>
    <url-pattern>/BuyerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/VerifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsServlet</servlet-name>
    <url-pattern>/GoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SellerServlet</servlet-name>
    <url-pattern>/SellerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartItemServlet</servlet-name>
    <url-pattern>/CartItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SellerOrderServlet</servlet-name>
    <url-pattern>/seller/SellerOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SellerGoodsServlet</servlet-name>
    <url-pattern>/seller/SellerGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SellerAddGoodsServlet</servlet-name>
    <url-pattern>/seller/SellerAddGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <url-pattern>/admin/AdminCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminSellerServlet</servlet-name>
    <url-pattern>/admin/AdminSellerServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>BuyerLoginFilter</display-name>
    <filter-name>BuyerLoginFilter</filter-name>
    <filter-class>web.filter.BuyerLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BuyerLoginFilter</filter-name>
    <url-pattern>/jsp/cart/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>BuyerLoginFilter</filter-name>
    <servlet-name>CartItemServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>BuyerLoginFilter</filter-name>
    <url-pattern>/jsp/order/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>BuyerLoginFilter</filter-name>
    <servlet-name>OrderServlet</servlet-name>
  </filter-mapping>
  <filter>
    <display-name>SellerLoginFilter</display-name>
    <filter-name>SellerLoginFilter</filter-name>
    <filter-class>web.filter.SellerLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SellerLoginFilter</filter-name>
    <url-pattern>/seller/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AdminLoginFilter</display-name>
    <filter-name>AdminLoginFilter</filter-name>
    <filter-class>web.filter.AdminLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/admin/jsps/*</url-pattern>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>